body {
	font-size: 12px;
	line-height: 28px;
	font-family: menu;
	margin: 0;
	padding: 0;
	background-color: #f8f8f8;	
}
#wrap {
	width: 100%;
	margin: 0 auto;
}
a {
    color: #467ecc;
    text-decoration: none;
	-webkit-transition: color 0.2s linear;
}
a:hover {
	color: #294266;
}
#footer {
    font-size: 12px;
    text-align: right;
    line-height: 25px;
	padding-right: 10px;
	color: #888;
    text-shadow: 1px 1px 0px #222;
}
ul {
	margin: 0;
	padding: 0;
}
.separator {
	width: 96%;
	height: 1px;
	float: right;
	margin: 5px;
}
.message {
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    font-weight: bold;
    top: -34px;
    left: 500;
    background-color: #FFA1A8;
    color: #000;
    padding: 1px 12px;
    text-align: center;
    position: absolute;
    z-index: 9999;
}
#tabmenu {
	position: fixed;
	width: 156px;
	margin: 0;
	float: left;
	height: 100%;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#0C1021));
	border-right: 1px solid;
	border-color: #f8f8f8;
	text-align: right;
}
#tabmenu h3 {
    font-weight: normal;
	font-size: 12px;
	margin: 40 0 18 0;
	color: #0080FF;
	padding: 4 0 4 0;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 0px #333;
}
.tabActive {
	font-weight: bold;
	background-color: #f8f8f8;
}
.tabActive a {
    color: #000;
}
li a {
    color: #fff;
}
li.option {
    list-style-type: none;
    padding: 5px 0;
}
li.option:first-of-type {
	padding: 0;
}
li.option label {
    width: 400px;
}
.option-field {
    float: right;
}
ul.menu {
	float: right;
	font-family: menu;
	font-size: 12px;
	margin: 0;
	padding-bottom: 20px;
}
ul.menu li {
	text-align: right;
	width: 300px;
	list-style-type: none;
	padding: 3 10 3 3;
	margin: 5 0 0 0;
}
ul.menu li a, ul.menu li a:visited {
	text-decoration: none;
}
#options {
	position: absolute;
	margin: 0 0 20px 158px;
	float: left;
	min-width: 730px;
	padding: 8px 0 0 20px;    
}
#options h4 {
	font-weight: normal;
	color: #db8e00;
	padding: 0 0 5px 0;
	margin: 0;
	font-size: 12px;
    font-weight: bold;
}
button, input[type=button], input[type=submit], a.button {
	font-size:12px;
	padding:5px 16px 5px 16px;
}
#btnSave {
    float: right;
}
/*******************************************/
.alertRow {
	margin: 0;
	float: left;
	font-size: 12px;
	width: 100% !important;
}
table.stocksTable {
	margin:0px;
	border:1px solid #e8e8e8;
	border-spacing:0px;
	color:black;
	margin-bottom:10px;
	table-layout:fixed;
    width:803px;
    background:#fff;
    padding: 8px;
}
.custom-stock-control {
    width: 916px;
    float: left;
}
table.stocksTable a {
	text-decoration:none;
}
table.stocksTable th {
	background-color:#eee;
	border-bottom:solid 1px #d7dbe0;
	border-top:solid 1px #e2e7e9;
	font-size:12px;
	font-weight:normal;
	height:29px;
	overflow:hidden;
	padding-left:6px;
	text-align:left;
	white-space:nowrap;
}
table.stocksTable .tableRow.stockStop {
 	color:#000066;   
}
table.stocksTable .tableRow.stockStop:hover,
table.stocksTable .tableRow.stockStop.myDragClass {
    background: #000066;
    color: #fff;
}
table.stocksTable .tableRow.stockUp {
 	color:#CC0000;   
}
table.stocksTable .tableRow.stockUp:hover,
table.stocksTable .tableRow.stockUp.myDragClass {
    background: #CC0000; 
    color: #fff;
}
table.stocksTable .tableRow.stockDown {
 	color:#008800;   
}
table.stocksTable .tableRow.stockDown:hover,
table.stocksTable .tableRow.stockDown.myDragClass {
    background: #005500;
    color: #fff;
}
table.stocksTable .tableRow.stockStop:hover div.flag,
table.stocksTable .tableRow.stockStop:hover div.note,
table.stocksTable .tableRow.stockStop:hover div.delete,
table.stocksTable .tableRow.stockUp:hover div.flag,
table.stocksTable .tableRow.stockUp:hover div.note,
table.stocksTable .tableRow.stockUp:hover div.delete,
table.stocksTable .tableRow.stockDown:hover div.flag,
table.stocksTable .tableRow.stockDown:hover div.note,
table.stocksTable .tableRow.stockDown:hover div.delete {
	background-position:0 -52px;
	opacity: 0.5;
}

table.stocksTable tr.odd {
	background-color:#efe;
}
table.stocksTable .myDragClass {
    opacity: 0.5;
}
table.stocksTable tr.tableRow td.dragHandle {
    cursor: move; 
    position: relative;
    width:14px;
    height:27px;
    background: url("/images/dragable.png") 0 0;
    background-repeat: no-repeat;
}
table.stocksTable td {
	border-bottom:solid 1px #e8e8e8;
	overflow:hidden;
	padding:1px;
	white-space:nowrap;
}
table.stocksTable .tableRow td input {
	display:none;
	font-family:menu;
	font-size:12px;
	height:100%;
	min-height:24px;
	padding:0px 3px;
	width:100% !important;
}
table.stocksTable td span {
	font-family:menu;
	font-size:12px;
	-webkit-padding-start:6px;
}
table.stocksTable td .stockUpPrice,
table.stocksTable td .stockDownPrice {
	padding:2px 4px;
}
table.stocksTable td .stockUp {
	background:#c00;
	border-radius:2px;
	color:#fff;
}
table.stocksTable td .stockDown {
	background:#080;
	border-radius:2px;
	color:#fff;
}
table.stocksTable div.note {
	height:26px;
	width:26px;
	float:left;
	text-indent:-9000px;
	font-size:1px;
	display:block;
	background:url("/images/note.png") 0 0;
	cursor:pointer;
	opacity: 0.5;
}
table.stocksTable div.note:hover,
table.stocksTable div.note.pressed:hover {
	background-position:0 -52px;
	opacity: 1 !important;
}
table.stocksTable div.note:active,
table.stocksTable div.note.pressed:hover {
	background-position:0 -52px;
	opacity: 1 !important;
}
table.stocksTable div.note.pressed {
	background-position:0 -26px;
	opacity: 1;
}
table.stocksTable div.delete {
	height:26px;
	width:26px;
	float:left;
	text-indent:-9000px;
	font-size:1px;
	display:block;
	background:url("/images/delete.png") 0 0;
	cursor:pointer;
	opacity: 0.5;
}
table.stocksTable div.delete:hover {
	opacity: 1 !important;
	background-position:0 -52px;
}
table.stocksTable div.delete:active {
	opacity: 1;
	background-position:0 -52px;
}
table.stocksTable div.delete.pressed {
	opacity: 1;
	background-position:0 -26px;
}
table.stocksTable div.flag {
	height:26px;
	width:26px;
	float:left;
	text-indent:-9000px;
	font-size:1px;
	display:block;
	background:url("/images/flag.png") 0 0;
	cursor:pointer;
	opacity: 0.1;
}
table.stocksTable div.flag.add {
	background-position:0 0;
	opacity: 0.5;
}
table.stocksTable div.flag.add:hover {
	background-position:0 -52px;
	opacity: 1 !important;
}
table.stocksTable div.flag.remove {
	background-position:0 -26px;
	opacity: 1;
}
table.stocksTable div.flag.remove:hover {
	background-position:0 -52px;
	opacity: 1 !important;
}

table.stocksTable .templateRow {
	display:none;
}

.stockNote { 
    width: 893px;
    margin: 0px;
	border: 1px solid #e8e8e8;
	margin-bottom:10px;
	background:#fff;
    padding: 8px;
}

.stockNoteTitle {
    background-color:#eee;
	border-bottom:solid 1px #d7dbe0;
	border-top:solid 1px #e2e7e9;
	font-size:12px;
	font-weight:normal;
	height:27px;
	overflow:hidden;
	text-align:left;
	white-space:nowrap;
    width: 100%;
    margin-bottom: 10px;
}
    
textarea.note-textarea {
	margin: 0;
	-webkit-box-shadow: #E7E7E7 1px 1px 0px;
	-webkit-box-sizing: border-box;
	border: 1px solid #ccc;
	border-bottom-color: #999;
	border-right-color: #999;
	outline: none;
	height: 88px;
	font: normal 12px menu;
	width: 100%;
    max-width: 100%;
    max-height: 444px;
	overflow-x: auto;
	padding: 5px;
	line-height: 150%;
}

textarea.backup-textarea {
	margin: 0;
	-webkit-box-shadow: #E7E7E7 1px 1px 0px;
	border: 1px solid #ccc;
	border-bottom-color: #999;
	border-right-color: #999;
	outline: none;
	height: 388px;
	font: normal 12px menu;
	width: 695px;
	max-width: 695px;
	overflow-x: auto;
	padding: 5px;
	line-height: 150%;
    float:left;
}
.backup-message {
    width: 695px;
    padding: 5px;
    color: red;
    
}
.backup-control {
    width: 98px;
    padding-left: 8px;
    float: left;
}
.backup-control button {
    margin: 0 0 8px 0;
    float: left;
}
